/* .bg-orange-50 {
    background-color: hsl(24, 100%, 96%);
}

.bg-orange-100 {
    background-color: hsl(24, 96%, 89%);
}

.bg-orange-200 {
    background-color: hsl(24, 97%, 77%);
}

.bg-orange-300 {
    background-color: hsl(22, 97%, 65%);
}

.bg-orange-400 {
    background-color: hsl(21, 96%, 56%);
}

.bg-orange-500 {
    background-color: hsl(19, 92%, 50%);
}

.bg-orange-600 {
    background-color: hsl(18, 95%, 44%);
}

.bg-orange-700 {
    background-color: hsl(17, 90%, 37%);
}

.bg-orange-800 {
    background-color: hsl(16, 84%, 31%);
}

.bg-orange-900 {
    background-color: hsl(15, 77%, 26%);
}
 */
